<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Projet</title>
  </head>
  <body>
    {{> header}}

    <p>Some text here</p>
    <ul>
    <li>first project </li>
    <li>Second project </li>
    <li>third project </li>
    </ul>

    {{> footer}}
  </body>
</html>
